..git
.gitignore
README.md
Dockerfile
docker-compose.full-stack.yml
.env
*.log
target/
build/
.idea/
.vscode/
DocumentationAPI.html
init-sql/01-tables.sql
init-sql/02-functions.sql
init-sql/03-grants.sql
src/test/test-chats.sql