# .env
SERVER_IP=95.154.89.8
SERVER_PORT=10610

DB_USER=user
DB_PASSWORD=password
DB_ADDRESS=0.0.0.0:666
POSTGRES_PORT=666 # должен быть таким же, как и выше (да, да, колхоз пока что)
DB_NAME=tipo_db

MAIL_USERNAME=my@super.mail
MAIL_PASSWORD=password

JWT_SECRET=mysupersecretkeymysupersecretkeymysupersecretkey