# Файлы, сгенерированные сборщиками (Maven, Gradle)
target/
build/
.gradle/
!**/src/main/**/target/
!**/src/test/**/target/

# Файлы IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
*.swp
*.swo

# Логи
*.log

# Файлы операционных систем
.DS_Store
Thumbs.db

# Файлы окружения (никогда не коммитьте пароли и ключи!)
.env
*.key
*.cert
init-sql/
src/test/test-chats.sql